<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yuanwei.center.mapper.IncubationParkRegisterMapper" >
  <resultMap id="BaseResultMap" type="cn.com.yuanwei.center.entity.IncubationParkRegister" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="business_subject" property="businessSubject" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="INTEGER" />
    <result column="application_room" property="applicationRoom" jdbcType="INTEGER" />
    <result column="application_area" property="applicationArea" jdbcType="VARCHAR" />
    <result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
    <result column="team_number" property="teamNumber" jdbcType="INTEGER" />
    <result column="project_introduction" property="projectIntroduction" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, mobile, business_subject, legal_person, company_type, application_room, 
    application_area, business_scope, team_number, project_introduction, status, remark, 
    create_by, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.yuanwei.center.entity.IncubationParkRegisterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from incubation_park_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from incubation_park_register
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from incubation_park_register
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.yuanwei.center.entity.IncubationParkRegisterExample" >
    delete from incubation_park_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.yuanwei.center.entity.IncubationParkRegister" useGeneratedKeys="true" keyProperty="id">
    insert into incubation_park_register (id, name, mobile, 
      business_subject, legal_person, company_type, 
      application_room, application_area, business_scope, 
      team_number, project_introduction, status, 
      remark, create_by, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{businessSubject,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR}, #{companyType,jdbcType=INTEGER}, 
      #{applicationRoom,jdbcType=INTEGER}, #{applicationArea,jdbcType=VARCHAR}, #{businessScope,jdbcType=VARCHAR}, 
      #{teamNumber,jdbcType=INTEGER}, #{projectIntroduction,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.yuanwei.center.entity.IncubationParkRegister" useGeneratedKeys="true" keyProperty="id">
    insert into incubation_park_register
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="businessSubject != null" >
        business_subject,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="applicationRoom != null" >
        application_room,
      </if>
      <if test="applicationArea != null" >
        application_area,
      </if>
      <if test="businessScope != null" >
        business_scope,
      </if>
      <if test="teamNumber != null" >
        team_number,
      </if>
      <if test="projectIntroduction != null" >
        project_introduction,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="businessSubject != null" >
        #{businessSubject,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=INTEGER},
      </if>
      <if test="applicationRoom != null" >
        #{applicationRoom,jdbcType=INTEGER},
      </if>
      <if test="applicationArea != null" >
        #{applicationArea,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="teamNumber != null" >
        #{teamNumber,jdbcType=INTEGER},
      </if>
      <if test="projectIntroduction != null" >
        #{projectIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.yuanwei.center.entity.IncubationParkRegisterExample" resultType="java.lang.Integer" >
    select count(*) from incubation_park_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update incubation_park_register
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.businessSubject != null" >
        business_subject = #{record.businessSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPerson != null" >
        legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.companyType != null" >
        company_type = #{record.companyType,jdbcType=INTEGER},
      </if>
      <if test="record.applicationRoom != null" >
        application_room = #{record.applicationRoom,jdbcType=INTEGER},
      </if>
      <if test="record.applicationArea != null" >
        application_area = #{record.applicationArea,jdbcType=VARCHAR},
      </if>
      <if test="record.businessScope != null" >
        business_scope = #{record.businessScope,jdbcType=VARCHAR},
      </if>
      <if test="record.teamNumber != null" >
        team_number = #{record.teamNumber,jdbcType=INTEGER},
      </if>
      <if test="record.projectIntroduction != null" >
        project_introduction = #{record.projectIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update incubation_park_register
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      business_subject = #{record.businessSubject,jdbcType=VARCHAR},
      legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      company_type = #{record.companyType,jdbcType=INTEGER},
      application_room = #{record.applicationRoom,jdbcType=INTEGER},
      application_area = #{record.applicationArea,jdbcType=VARCHAR},
      business_scope = #{record.businessScope,jdbcType=VARCHAR},
      team_number = #{record.teamNumber,jdbcType=INTEGER},
      project_introduction = #{record.projectIntroduction,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.yuanwei.center.entity.IncubationParkRegister" >
    update incubation_park_register
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="businessSubject != null" >
        business_subject = #{businessSubject,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        company_type = #{companyType,jdbcType=INTEGER},
      </if>
      <if test="applicationRoom != null" >
        application_room = #{applicationRoom,jdbcType=INTEGER},
      </if>
      <if test="applicationArea != null" >
        application_area = #{applicationArea,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="teamNumber != null" >
        team_number = #{teamNumber,jdbcType=INTEGER},
      </if>
      <if test="projectIntroduction != null" >
        project_introduction = #{projectIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.yuanwei.center.entity.IncubationParkRegister" >
    update incubation_park_register
    set name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      business_subject = #{businessSubject,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=INTEGER},
      application_room = #{applicationRoom,jdbcType=INTEGER},
      application_area = #{applicationArea,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      team_number = #{teamNumber,jdbcType=INTEGER},
      project_introduction = #{projectIntroduction,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="cn.com.yuanwei.center.entity.IncubationParkRegisterExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from incubation_park_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <cache />
</mapper>