<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yuanwei.center.mapper.ServiceMonthlyReportMapper" >
  <resultMap id="BaseResultMap" type="cn.com.yuanwei.center.entity.ServiceMonthlyReport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="curr_month" property="currMonth" jdbcType="DECIMAL" />
    <result column="last_month" property="lastMonth" jdbcType="DECIMAL" />
    <result column="curr_month_amount" property="currMonthAmount" jdbcType="DECIMAL" />
    <result column="last_month_amount" property="lastMonthAmount" jdbcType="DECIMAL" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, enterprise_name, curr_month, last_month, curr_month_amount, last_month_amount, 
    year, month, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_monthly_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_monthly_report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_monthly_report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReportExample" >
    delete from service_monthly_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReport"  useGeneratedKeys="true" keyProperty="id">
    insert into service_monthly_report (id, user_id, enterprise_name, 
      curr_month, last_month, curr_month_amount, 
      last_month_amount, year, month, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{enterpriseName,jdbcType=VARCHAR}, 
      #{currMonth,jdbcType=DECIMAL}, #{lastMonth,jdbcType=DECIMAL}, #{currMonthAmount,jdbcType=DECIMAL}, 
      #{lastMonthAmount,jdbcType=DECIMAL}, #{year,jdbcType=INTEGER}, #{month,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReport"  useGeneratedKeys="true" keyProperty="id">
    insert into service_monthly_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="enterpriseName != null" >
        enterprise_name,
      </if>
      <if test="currMonth != null" >
        curr_month,
      </if>
      <if test="lastMonth != null" >
        last_month,
      </if>
      <if test="currMonthAmount != null" >
        curr_month_amount,
      </if>
      <if test="lastMonthAmount != null" >
        last_month_amount,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="enterpriseName != null" >
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="currMonth != null" >
        #{currMonth,jdbcType=DECIMAL},
      </if>
      <if test="lastMonth != null" >
        #{lastMonth,jdbcType=DECIMAL},
      </if>
      <if test="currMonthAmount != null" >
        #{currMonthAmount,jdbcType=DECIMAL},
      </if>
      <if test="lastMonthAmount != null" >
        #{lastMonthAmount,jdbcType=DECIMAL},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        #{month,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReportExample" resultType="java.lang.Integer" >
    select count(*) from service_monthly_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update service_monthly_report
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.enterpriseName != null" >
        enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="record.currMonth != null" >
        curr_month = #{record.currMonth,jdbcType=DECIMAL},
      </if>
      <if test="record.lastMonth != null" >
        last_month = #{record.lastMonth,jdbcType=DECIMAL},
      </if>
      <if test="record.currMonthAmount != null" >
        curr_month_amount = #{record.currMonthAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.lastMonthAmount != null" >
        last_month_amount = #{record.lastMonthAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.month != null" >
        month = #{record.month,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update service_monthly_report
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
      curr_month = #{record.currMonth,jdbcType=DECIMAL},
      last_month = #{record.lastMonth,jdbcType=DECIMAL},
      curr_month_amount = #{record.currMonthAmount,jdbcType=DECIMAL},
      last_month_amount = #{record.lastMonthAmount,jdbcType=DECIMAL},
      year = #{record.year,jdbcType=INTEGER},
      month = #{record.month,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReport" >
    update service_monthly_report
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="enterpriseName != null" >
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="currMonth != null" >
        curr_month = #{currMonth,jdbcType=DECIMAL},
      </if>
      <if test="lastMonth != null" >
        last_month = #{lastMonth,jdbcType=DECIMAL},
      </if>
      <if test="currMonthAmount != null" >
        curr_month_amount = #{currMonthAmount,jdbcType=DECIMAL},
      </if>
      <if test="lastMonthAmount != null" >
        last_month_amount = #{lastMonthAmount,jdbcType=DECIMAL},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReport" >
    update service_monthly_report
    set user_id = #{userId,jdbcType=INTEGER},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      curr_month = #{currMonth,jdbcType=DECIMAL},
      last_month = #{lastMonth,jdbcType=DECIMAL},
      curr_month_amount = #{currMonthAmount,jdbcType=DECIMAL},
      last_month_amount = #{lastMonthAmount,jdbcType=DECIMAL},
      year = #{year,jdbcType=INTEGER},
      month = #{month,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReportExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_monthly_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="cn.com.yuanwei.center.entity.ServiceMonthlyReportExample" id="selectServiceMonthlyReportByMonth" >
    SELECT
		IFNULL(sum(curr_month), 0) curr_month,
		IFNULL(sum(last_month), 0) last_month,
		IFNULL(sum(curr_month_amount), 0) curr_month_amount,
		IFNULL(sum(last_month_amount), 0) last_month_amount,
		`year`,
		`month`
	FROM
		service_monthly_report
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
	GROUP BY `year`,`month`
  </select>
  <cache />
</mapper>