<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yuanwei.center.mapper.SettleRegisterMapper" >
  <resultMap id="BaseResultMap" type="cn.com.yuanwei.center.entity.SettleRegister" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="political" property="political" jdbcType="VARCHAR" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="business_subject" property="businessSubject" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="INTEGER" />
    <result column="business_income" property="businessIncome" jdbcType="DECIMAL" />
    <result column="business_place" property="businessPlace" jdbcType="VARCHAR" />
    <result column="settled_platform" property="settledPlatform" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_url" property="shopUrl" jdbcType="VARCHAR" />
    <result column="credit_rating" property="creditRating" jdbcType="VARCHAR" />
    <result column="company_website" property="companyWebsite" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="average_monthly_sales" property="averageMonthlySales" jdbcType="VARCHAR" />
    <result column="application_room" property="applicationRoom" jdbcType="INTEGER" />
    <result column="application_area" property="applicationArea" jdbcType="VARCHAR" />
    <result column="equipment_source" property="equipmentSource" jdbcType="INTEGER" />
    <result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
    <result column="team_number" property="teamNumber" jdbcType="INTEGER" />
    <result column="join_association" property="joinAssociation" jdbcType="INTEGER" />
    <result column="project_introduction" property="projectIntroduction" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, id_number, name, sex, age, political, native_place, nation, mobile, email, address, 
    pic, business_subject, legal_person, business_license, company_type, business_income, 
    business_place, settled_platform, shop_name, shop_url, credit_rating, company_website, 
    category, average_monthly_sales, application_room, application_area, equipment_source, 
    business_scope, team_number, join_association, project_introduction, status, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.yuanwei.center.entity.SettleRegisterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from settle_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from settle_register
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from settle_register
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.yuanwei.center.entity.SettleRegisterExample" >
    delete from settle_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.yuanwei.center.entity.SettleRegister"  useGeneratedKeys="true" keyProperty="id">
    insert into settle_register (id, id_number, name, 
      sex, age, political, 
      native_place, nation, mobile, 
      email, address, pic, 
      business_subject, legal_person, business_license, 
      company_type, business_income, business_place, 
      settled_platform, shop_name, shop_url, 
      credit_rating, company_website, category, 
      average_monthly_sales, application_room, application_area, 
      equipment_source, business_scope, team_number, 
      join_association, project_introduction, status, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{idNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{political,jdbcType=VARCHAR}, 
      #{nativePlace,jdbcType=VARCHAR}, #{nation,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{businessSubject,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR}, #{businessLicense,jdbcType=VARCHAR}, 
      #{companyType,jdbcType=INTEGER}, #{businessIncome,jdbcType=DECIMAL}, #{businessPlace,jdbcType=VARCHAR}, 
      #{settledPlatform,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopUrl,jdbcType=VARCHAR}, 
      #{creditRating,jdbcType=VARCHAR}, #{companyWebsite,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{averageMonthlySales,jdbcType=VARCHAR}, #{applicationRoom,jdbcType=INTEGER}, #{applicationArea,jdbcType=VARCHAR}, 
      #{equipmentSource,jdbcType=INTEGER}, #{businessScope,jdbcType=VARCHAR}, #{teamNumber,jdbcType=INTEGER}, 
      #{joinAssociation,jdbcType=INTEGER}, #{projectIntroduction,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.yuanwei.center.entity.SettleRegister"  useGeneratedKeys="true" keyProperty="id">
    insert into settle_register
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="political != null" >
        political,
      </if>
      <if test="nativePlace != null" >
        native_place,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="businessSubject != null" >
        business_subject,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="businessLicense != null" >
        business_license,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="businessIncome != null" >
        business_income,
      </if>
      <if test="businessPlace != null" >
        business_place,
      </if>
      <if test="settledPlatform != null" >
        settled_platform,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopUrl != null" >
        shop_url,
      </if>
      <if test="creditRating != null" >
        credit_rating,
      </if>
      <if test="companyWebsite != null" >
        company_website,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="averageMonthlySales != null" >
        average_monthly_sales,
      </if>
      <if test="applicationRoom != null" >
        application_room,
      </if>
      <if test="applicationArea != null" >
        application_area,
      </if>
      <if test="equipmentSource != null" >
        equipment_source,
      </if>
      <if test="businessScope != null" >
        business_scope,
      </if>
      <if test="teamNumber != null" >
        team_number,
      </if>
      <if test="joinAssociation != null" >
        join_association,
      </if>
      <if test="projectIntroduction != null" >
        project_introduction,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="political != null" >
        #{political,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="businessSubject != null" >
        #{businessSubject,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=INTEGER},
      </if>
      <if test="businessIncome != null" >
        #{businessIncome,jdbcType=DECIMAL},
      </if>
      <if test="businessPlace != null" >
        #{businessPlace,jdbcType=VARCHAR},
      </if>
      <if test="settledPlatform != null" >
        #{settledPlatform,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopUrl != null" >
        #{shopUrl,jdbcType=VARCHAR},
      </if>
      <if test="creditRating != null" >
        #{creditRating,jdbcType=VARCHAR},
      </if>
      <if test="companyWebsite != null" >
        #{companyWebsite,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="averageMonthlySales != null" >
        #{averageMonthlySales,jdbcType=VARCHAR},
      </if>
      <if test="applicationRoom != null" >
        #{applicationRoom,jdbcType=INTEGER},
      </if>
      <if test="applicationArea != null" >
        #{applicationArea,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSource != null" >
        #{equipmentSource,jdbcType=INTEGER},
      </if>
      <if test="businessScope != null" >
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="teamNumber != null" >
        #{teamNumber,jdbcType=INTEGER},
      </if>
      <if test="joinAssociation != null" >
        #{joinAssociation,jdbcType=INTEGER},
      </if>
      <if test="projectIntroduction != null" >
        #{projectIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.yuanwei.center.entity.SettleRegisterExample" resultType="java.lang.Integer" >
    select count(*) from settle_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update settle_register
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.idNumber != null" >
        id_number = #{record.idNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.political != null" >
        political = #{record.political,jdbcType=VARCHAR},
      </if>
      <if test="record.nativePlace != null" >
        native_place = #{record.nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.businessSubject != null" >
        business_subject = #{record.businessSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPerson != null" >
        legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicense != null" >
        business_license = #{record.businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.companyType != null" >
        company_type = #{record.companyType,jdbcType=INTEGER},
      </if>
      <if test="record.businessIncome != null" >
        business_income = #{record.businessIncome,jdbcType=DECIMAL},
      </if>
      <if test="record.businessPlace != null" >
        business_place = #{record.businessPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.settledPlatform != null" >
        settled_platform = #{record.settledPlatform,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopUrl != null" >
        shop_url = #{record.shopUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.creditRating != null" >
        credit_rating = #{record.creditRating,jdbcType=VARCHAR},
      </if>
      <if test="record.companyWebsite != null" >
        company_website = #{record.companyWebsite,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.averageMonthlySales != null" >
        average_monthly_sales = #{record.averageMonthlySales,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationRoom != null" >
        application_room = #{record.applicationRoom,jdbcType=INTEGER},
      </if>
      <if test="record.applicationArea != null" >
        application_area = #{record.applicationArea,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentSource != null" >
        equipment_source = #{record.equipmentSource,jdbcType=INTEGER},
      </if>
      <if test="record.businessScope != null" >
        business_scope = #{record.businessScope,jdbcType=VARCHAR},
      </if>
      <if test="record.teamNumber != null" >
        team_number = #{record.teamNumber,jdbcType=INTEGER},
      </if>
      <if test="record.joinAssociation != null" >
        join_association = #{record.joinAssociation,jdbcType=INTEGER},
      </if>
      <if test="record.projectIntroduction != null" >
        project_introduction = #{record.projectIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update settle_register
    set id = #{record.id,jdbcType=INTEGER},
      id_number = #{record.idNumber,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      age = #{record.age,jdbcType=INTEGER},
      political = #{record.political,jdbcType=VARCHAR},
      native_place = #{record.nativePlace,jdbcType=VARCHAR},
      nation = #{record.nation,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      business_subject = #{record.businessSubject,jdbcType=VARCHAR},
      legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      business_license = #{record.businessLicense,jdbcType=VARCHAR},
      company_type = #{record.companyType,jdbcType=INTEGER},
      business_income = #{record.businessIncome,jdbcType=DECIMAL},
      business_place = #{record.businessPlace,jdbcType=VARCHAR},
      settled_platform = #{record.settledPlatform,jdbcType=INTEGER},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      shop_url = #{record.shopUrl,jdbcType=VARCHAR},
      credit_rating = #{record.creditRating,jdbcType=VARCHAR},
      company_website = #{record.companyWebsite,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      average_monthly_sales = #{record.averageMonthlySales,jdbcType=VARCHAR},
      application_room = #{record.applicationRoom,jdbcType=INTEGER},
      application_area = #{record.applicationArea,jdbcType=VARCHAR},
      equipment_source = #{record.equipmentSource,jdbcType=INTEGER},
      business_scope = #{record.businessScope,jdbcType=VARCHAR},
      team_number = #{record.teamNumber,jdbcType=INTEGER},
      join_association = #{record.joinAssociation,jdbcType=INTEGER},
      project_introduction = #{record.projectIntroduction,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.yuanwei.center.entity.SettleRegister" >
    update settle_register
    <set >
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="political != null" >
        political = #{political,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="businessSubject != null" >
        business_subject = #{businessSubject,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        company_type = #{companyType,jdbcType=INTEGER},
      </if>
      <if test="businessIncome != null" >
        business_income = #{businessIncome,jdbcType=DECIMAL},
      </if>
      <if test="businessPlace != null" >
        business_place = #{businessPlace,jdbcType=VARCHAR},
      </if>
      <if test="settledPlatform != null" >
        settled_platform = #{settledPlatform,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopUrl != null" >
        shop_url = #{shopUrl,jdbcType=VARCHAR},
      </if>
      <if test="creditRating != null" >
        credit_rating = #{creditRating,jdbcType=VARCHAR},
      </if>
      <if test="companyWebsite != null" >
        company_website = #{companyWebsite,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="averageMonthlySales != null" >
        average_monthly_sales = #{averageMonthlySales,jdbcType=VARCHAR},
      </if>
      <if test="applicationRoom != null" >
        application_room = #{applicationRoom,jdbcType=INTEGER},
      </if>
      <if test="applicationArea != null" >
        application_area = #{applicationArea,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSource != null" >
        equipment_source = #{equipmentSource,jdbcType=INTEGER},
      </if>
      <if test="businessScope != null" >
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="teamNumber != null" >
        team_number = #{teamNumber,jdbcType=INTEGER},
      </if>
      <if test="joinAssociation != null" >
        join_association = #{joinAssociation,jdbcType=INTEGER},
      </if>
      <if test="projectIntroduction != null" >
        project_introduction = #{projectIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.yuanwei.center.entity.SettleRegister" >
    update settle_register
    set id_number = #{idNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      political = #{political,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      business_subject = #{businessSubject,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=INTEGER},
      business_income = #{businessIncome,jdbcType=DECIMAL},
      business_place = #{businessPlace,jdbcType=VARCHAR},
      settled_platform = #{settledPlatform,jdbcType=INTEGER},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_url = #{shopUrl,jdbcType=VARCHAR},
      credit_rating = #{creditRating,jdbcType=VARCHAR},
      company_website = #{companyWebsite,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      average_monthly_sales = #{averageMonthlySales,jdbcType=VARCHAR},
      application_room = #{applicationRoom,jdbcType=INTEGER},
      application_area = #{applicationArea,jdbcType=VARCHAR},
      equipment_source = #{equipmentSource,jdbcType=INTEGER},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      team_number = #{teamNumber,jdbcType=INTEGER},
      join_association = #{joinAssociation,jdbcType=INTEGER},
      project_introduction = #{projectIntroduction,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="cn.com.yuanwei.center.entity.SettleRegisterExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from settle_register
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <cache />
</mapper>